# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore ML model + dataset
features.csv
Iowa_Liquor_Sales.csv
# Ignore big data and model files
My_App/backend/features.csv
My_App/backend/Iowa_Liquor_Sales.csv
My_App/backend/model.pkl

# General CSV block
*.csv

